.outer-container {
    width: 95%;
    margin: 0 auto;

    @media (min-width: 769px) {
        width: 70%;

    }

    @media (min-width: 1050px) {
        width: 50%;

    }
}

.h1-wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 10px;
    color: white;
    border-bottom: 2px dotted rgba(67, 67, 67, 0.592);
}

.cart-items {
    width: 100%;
    color: white;
}

.single-product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(121, 121, 121, 0.547);
    background-color: #282828a9;
    border-radius: 8px;
    color: white;

    @media (min-width: 769px) {
        flex-direction: row;

    }
}

.innerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    color: white;
}

.contFirst {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;

    img {
        width: 100px;
        height: 180px;
        height: fit-content;

    }

    .title {
        text-align: left;
        margin-bottom: 5px;
    }

    @media (min-width: 960px) {
        gap: 2rem;
        align-items: center;

        .title {
            margin: 0;
        }
    }
}

.contSecond {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .price {
        margin-left: auto;
    }

    .remove-from-cart {
        align-self: flex-end;
        height: 30px;
        aspect-ratio: 1/1;
        border-radius: 99px;
        margin-left: 20px;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
        font-weight: 700;
        transition: all .4s ease-in;

    }

    .remove-from-cart:hover {
        background-color: rgba(236, 63, 63, 0.868);
        color: black;
    }
}

.quantitywrapper {
    display: flex;
    border-radius: 20px;
    background-color: rgba(226, 226, 226, 0.868);
    align-items: center;

    p {
        color: black;
        width: 50px;
        text-align: center;
        font-weight: 700;
    }

    .plus,
    .minus {
        height: 30px;
        aspect-ratio: 1/1;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        font-weight: 700;
        font-size: 20px;
    }

    .plus {
        border-left: 1px dotted grey;
    }

    .minus {
        border-right: 1px dotted grey;
    }

    .minus:hover {
        color: red;
    }

    .plus:hover {
        color: green;
    }
}

.total-amount-cart {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    padding: 10px;
    width: 100%;
    height: 150px;
    border: 1px solid rgba(121, 121, 121, 0.547);
    background-color: #282828a9;
    border-radius: 8px;
    color: white;

    div {
        display: flex;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 10px;
            align-items: flex-end;

        }
    }

    p {
        font-weight: 700;
        font-size: 20px;
        margin: 0 20px;
    }

    .total-price {
        width: fit-content;
        max-width: 120px;
        text-align: end;

    }
}

.checkout {
    width: 200px;
    height: 45px;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(25, 25, 221);
    font-size: 18px;
    font-weight: 700;
    margin: 0 20px;

}

.checkout:hover {
    background-color: grey;
    color: white;
}

.checkout:active {
    background-color: #4b4b4b;
    color: white;
}