@import url(./index-item-card.css);
@import url(./product-singleinfo.css);
@import url(./product-extra3random.css);
@import url(./error.css);
@import url(./cart.css);
@import url(./confirmation.css);

/* Not my work credits to Temani Afif*/
@import url(./loading.css);
@import url(./favorite-ribbon.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgb(37, 37, 37), rgb(73, 73, 73), rgb(27, 27, 27));
    overflow-x: hidden;

}

header {
    padding-top: 1rem;
    max-width: 92rem;
    margin: 0 auto;

    .headerWrapper {
        max-width: 90rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 3rem;

        @media (max-width: 630px) {
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }

    }

    .homelink {
        font-size: 40px;
        text-decoration: none;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        transition: all .4s ease-in;
        color: #f5f5f5;
        padding: 20px;

        @media (max-width: 768px) {
            padding: 0;

        }
    }


    .homelink:hover {
        color: red;
    }

    img {
        width: 100%;
        max-width: 34px;
        text-align: center;

    }
}

nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;

    .desktopNAV {
        @media (max-width: 769px) {
            display: none;
            overflow: hidden;
        }
    }

    .mobileNAV {
        color: white;
        font-size: 20px;


        @media (min-width: 769px) {
            display: none;
            overflow: hidden;
        }


    }


    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 45px;
        color: white;
        border-radius: 5px;
        box-shadow: 2px 2px 5px black;
        background-color: rgb(25, 25, 221);
        font-size: 12px;
        position: relative;
    }

    a:hover {
        background-color: grey;
        color: white;
    }

    a:active {
        background-color: #4b4b4b;
        color: white;
    }

    .fa-house,
    .fa-cart-shopping {
        font-size: 20px;
    }
}

.amount-incart {
    display: grid;
    place-items: center;
    position: absolute;
    bottom: -7px;
    right: -10px;
    background-color: rgba(255, 0, 0, 0.75);
    padding: 5px;
    border-radius: 50%;
    font-weight: 700;
    aspect-ratio: 1/1;
}

main {
    width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - 190px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .container {
        margin: 0 auto;
        max-width: 90rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        color: white;
    }
}


footer {
    margin: 0 auto;
    max-width: 90rem;
    padding: 3rem;

    p {
        color: white;
    }
}

.genreSelector {
    width: 100%;
    max-width: 400px;
    padding: 4px 10px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.91);
    border-radius: 5px;

    option {
        font-size: 18px;
    }
}

a {
    text-decoration: none;
}

.show {
    display: inline-flex;
}