@import url(./index-item-card.css);
@import url(./product-singleinfo.css);
@import url(./product-extra3random.css);
@import url(./error.css);
@import url(./cart.css);

/* Not my work credits to Temani Afif*/
@import url(./loading.css);
@import url(./favorite-ribbon.css);




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgb(37, 37, 37), rgb(73, 73, 73), rgb(27, 27, 27));
    overflow-x: hidden;

}

header {
    padding-top: 1rem;
    max-width: 92rem;
    margin: 0 auto;

    .wrapper {
        max-width: 90rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 3rem;

    }

    .homelink {
        font-size: 40px;
        color: red;
        color: white;
        text-decoration: none;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;

    }

    img {
        width: 100%;
        max-width: 34px;
        text-align: center;

    }
}

nav {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media (max-width: 769px) {
        display: none;
        overflow: hidden;
    }

    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 45px;
        color: white;
        border-radius: 5px;
        box-shadow: 2px 2px 5px black;
        background-color: rgb(25, 25, 221);
        font-size: 12px;
    }

    a:hover {
        background-color: rgb(213, 213, 213);
        color: black;
    }

    .fa-house,
    .fa-cart-shopping {
        font-size: 20px;
    }
}

main {
    width: 98%;
    margin: 0 auto;
    min-height: calc(100vh - 190px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container {
        margin: 0 auto;
        max-width: 90rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        color: white;
    }
}


footer {
    margin: 0 auto;
    max-width: 90rem;
    padding: 3rem;

    p {
        color: white;
    }
}

.genre-selector {
    width: 100%;
    max-width: 400px;
    padding: 4px 10px;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.91);
    border-radius: 5px;
}