@import url(./import-css/styles-index.css);
@import url(./import-css/filter-btns.css);
@import url(./import-css/reset.css);
@import url(./import-css/variables.css);

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: linear-gradient(rgb(11, 11, 11), rgb(33, 33, 33), rgb(11, 11, 11));
}

h1 {}

h2 {}

p,
button {
    font-size: clamp(1rem, 10vw + 0.2rem, 1.1rem);
    font-family: Arial, Helvetica, sans-serif;

}


header .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

header {

    img {
        max-width: 140px;
    }

    nav {
        display: flex;
        align-items: center;
        gap: 2rem;

    }

    a {
        text-decoration: none;
        display: block;
        padding: 1rem 1rem;
        width: 100px;
        text-align: center;
        font-weight: 700;
        color: white;
        background-color: rgb(54, 54, 54);
    }

    a:last-child {
        text-decoration: none;
        display: block;
        padding: 1rem 1rem;
        width: 100px;
        text-align: center;
        font-weight: 700;
        color: white;
        background-color: rgb(10, 203, 135);
    }
}

.container {
    margin: 0 auto;
    max-width: 90%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}