.all-movies {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0.85rem;
    row-gap: 2rem;
    width: 100%;

    @media (min-width: 545px) {

        grid-template-columns: repeat(2, 1fr);

    }

    @media (min-width: 820px) {

        grid-template-columns: repeat(3, 1fr);

    }

    @media (min-width: 1080px) {

        grid-template-columns: repeat(4, 1fr);

    }

    @media (min-width: 1275px) {

        grid-template-columns: repeat(5, 1fr);

    }

    .loader {
        grid-column: 1 /span 5;
        margin: 0 auto;
    }

}


.movies-card {
    background-color: #282828a9;
    margin: 0 auto;
    text-decoration: none;
    color: white;
    border: 1px solid rgba(121, 121, 121, 0.547);
    border-radius: 8px;
    box-shadow: 2px 2px 5px black;
    display: flex;
    flex-direction: column;
    transition: transform 300ms ease;
    position: relative;
    width: 250px;

    .flex-sale {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        gap: 10px;
        padding: 10px 0;
        margin-right: 10px;

    }

    img {
        width: 100%;
        height: 340px;

        @media (min-width: 400px) {}
    }

    .title {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-wrap: wrap;
        text-align: center;
        font-size: 20px;
        height: 50px;
        width: 100%;
        font-weight: 400;
        margin: 5px 0;

        @media (max-width: 767px) {
            font-size: 14px;

        }
    }

    .ribbon {
        position: absolute;
        left: 9.5px;
        top: 6.2px;
    }
}

.movies-card:hover {
    transform: scale(1.05);
    transition: transform 400ms ease;
    border: 1px solid rgb(121, 121, 121);
}

.on-sale {
    color: red;
    text-decoration: line-through;
    font-size: 14px;
}

.isFavorite {
    color: red;
    font-family: "Lucida Sans Unicode", "Arial Unicode MS";
    font-size: 20px;
    position: absolute;


}

.notFavorite {
    color: red;
    font-family: "Lucida Sans Unicode", "Arial Unicode MS";
    font-size: 28px;
    position: absolute;
}