.movie-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 90%;
    margin: 0 auto;

    @media (min-width: 768px) {
        flex-direction: row;
        max-height: 429px;

    }
}

.image-box {
    position: relative;
    min-width: 120px;
    min-height: 120px;


    .ribbon {
        position: absolute;
        top: 10px;
        /* left: 14px; */
        font-size: 25px;

        @media (max-width: 768px) {
            left: 20px;
        }
    }

    .movie-img {
        display: block;
        width: auto;
        max-height: 429px;
        box-shadow: 2px 2px 5px black;

        @media (max-width: 768px) {
            max-height: fit-content;
            width: 90%;
            margin: 0 auto;
        }
    }

    .loader {
        margin: 0 auto;
        align-self: center;
        justify-self: center;
    }
}

.divider {
    width: 60%;
    background-color: rgba(54, 54, 54, 0.425);
    box-shadow: 2px 2px 5px black;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;

    @media (max-width: 768px) {
        width: 90%;
        margin: 0 auto;


    }
}

.movie-info {
    display: flex;
    flex-direction: column;

    .loader {
        margin: 0 auto;
    }
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    min-width: 120px;
    min-height: 120px;
    width: 100%;
    padding: 1rem;

    .price {
        display: flex;
        flex-direction: row;
        gap: 10px;
        text-wrap: pretty;
    }
}

.addcart {
    width: 50%;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.766);
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.addcart:hover {
    background-color: #898989;

}

.addcart:active {
    background-color: rgb(49, 49, 49);
    color: white;
}

.fa-star {
    color: gold;
}