.movies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    row-gap: 2rem;
    width: 100%;

    @media (min-width: 610px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 840px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1130px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1415px) {
        grid-template-columns: repeat(5, 1fr);
    }
}


.movies-card {
    background-color: #282828a9;
    margin: 0 auto;
    width: max-content;
    text-decoration: none;
    color: white;
    border: 1px solid rgba(121, 121, 121, 0.547);
    border-radius: 8px;
    box-shadow: 2px 2px 5px black;
    display: flex;
    flex-direction: column;
    transition: transform 300ms ease;
    position: relative;

    .flex-sale {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        gap: 10px;
        padding: 0 10px;

    }

    img {
        width: 280px;
        height: 390px;

    }

    .title {
        font-size: 1rem;
        text-align: center;
        text-wrap: wrap
    }
}

.movies-card:hover {
    transform: scale(1.05);
    transition: transform 400ms ease;
    border: 1px solid rgb(121, 121, 121);
}

.on-sale {
    color: red;
    text-decoration: line-through;
    font-size: 14px;
}

.smallcard {

    max-height: auto;

    img {
        height: 280px;
        aspect-ratio: 1/1.5;

    }
}