.outer-container {
    width: 95%;
    margin: 0 auto;

    @media (min-width: 769px) {
        width: 70%;

    }

    @media (min-width: 1050px) {
        width: 53%;

    }
}

.h1-wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 10px;
    color: white;
    border-bottom: 2px dotted rgba(67, 67, 67, 0.592);
}

.localListWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.single-product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(121, 121, 121, 0.547);
    background-color: #282828a9;
    border-radius: 8px;
    color: white;

    @media (min-width: 769px) {
        flex-direction: row;

    }
}

.leftContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;

    @media (min-width: 960px) {
        gap: 2rem;
        align-items: center;
    }

    img {
        width: 100px;
        height: 180px;
        height: fit-content;
    }

    .title {
        width: 100%;
        align-self: center;
        text-wrap: pretty;
    }
}

.rightContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;

    .price {
        text-align: right;
        width: 120px;

    }

    .remove-from-cart {
        align-self: flex-end;
        height: 30px;
        aspect-ratio: 1/1;
        border-radius: 99px;
        margin-left: 20px;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
        font-weight: 700;
        transition: all .4s ease-in;

    }

    .remove-from-cart:hover {
        background-color: rgba(236, 63, 63, 0.868);
        color: black;
    }
}

.qtyContainer {
    display: flex;
    border-radius: 20px;
    background-color: rgba(226, 226, 226, 0.868);
    align-items: center;

    p {
        color: black;
        width: 50px;
        text-align: center;
        font-weight: 700;
    }

    .plus,
    .minus {
        height: 30px;
        aspect-ratio: 1/1;
        border: 0;
        cursor: pointer;
        font-weight: 700;
        font-size: 20px;
    }

    .plus {
        border-radius: 0 20px 20px 0;
        border-left: 1px dotted grey;
    }

    .minus {
        border-radius: 20px 0 0 20px;
        border-right: 1px dotted grey;
    }

    .minus:hover {
        color: red;
    }

    .plus:hover {
        color: green;
    }

    .plus:active,
    .minus:active {
        background-color: rgba(191, 191, 191, 0.801);
    }
}

.totalprice-display {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    padding: 10px;
    width: 100%;
    height: 150px;
    border: 1px solid rgba(121, 121, 121, 0.547);
    background-color: #282828a9;
    border-radius: 8px;
    color: white;
    box-shadow: 2px 2px 5px black;

    div {
        display: flex;
    }

    p {
        font-weight: 700;
        font-size: 20px;
        margin-right: 20px;

    }

    .total-price {
        width: fit-content;
        width: 125px;
        text-align: end;
        margin-right: 20px;

    }
}

#purchased {
    display: grid;
    place-items: center;
    color: white;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(25, 25, 221);
    font-size: 18px;
    font-weight: 700;
    margin: 0 20px;
    cursor: pointer;

}

#purchased:hover {
    background-color: grey;
}

.empty {
    display: grid;
    place-items: center;
    width: 100%;
    font-size: 20px;
    height: 150px;
    border: 1px dotted grey;
    border-radius: 8px;
    color: white;
    box-shadow: 2px 2px 5px black;

}